// Navigation Elements

// creates a nav-bar with a transparent background

@mixin elr-nav-bar($config: ()) {
    $config: extend((
        text-color: $text-color,
        hover-color: $link-color,
        align: left,
        divider-color: $light-grey,
        background-color: transparent,
        inline: true,
        border-radius: 0,
        active-color: lighten($background-color, 10%)
    ), $config);

    $text-color: map-get($config, text-color);
    $hover-color: map-get($config, hover-color);
    $align: map-get($config, align);
    $divider-color: map-get($config, divider-color);
    $background-color: map-get($config, background-color);
    $inline: map-get($config, inline);
    $border-radius: map-get($config, border-radius);
    $active-color: map-get($config, active-color);

    @include elr-clearfix;
    margin: 0;
    padding: 0;

    @if $inline {
        display: flex;
        flex-direction: row;
    }

    li,
    a {
        margin: 0;
        padding: 0;
        display: block;
    }

    li {
        list-style: none;

        @if $inline {
            width: auto;

            @if $border-radius > 0 {
                margin-right: 5px;
            }

        } @else {
            width: 100%;

            @if $border-radius > 0 {
                margin-bottom: 5px;

                .elr-submenu {
                    margin-top: 5px;
                }
            }
        }
    }

    a {
        width: 100%;
        text-align: $align;
        color: $text-color;
        text-decoration: none;
        transition: color .3s, background-color .3s;
        background-color: $background-color;

        @if ($inline and $background-color != transparent) or $background-color != transparent {
            padding: 5px 20px;
        } @elseif $inline or ($border-radius > 0) {
            padding: 5px 10px;
        } @else {
            padding: 5px 0;
        }

        @if $border-radius > 0 {
            border-radius: $border-radius;
        }

        &.active,
        &:hover,
        &:focus {
            color: $hover-color;
            background-color: $active-color;
        }
    }

    .elr-submenu {
        color: $text-color;
        padding: 0;

        li { float: none; }

        a {
            @if ($inline == false) {
                padding-left: 20px;
            }
        }

        .divider {
            @include elr-list-divider($config: (color: $divider-color));
            margin: 0;
        }
    }

    .text-disabled {
        color: $light-grey;
        cursor: not-allowed;
    }
}

@mixin elr-css-dropdown-menu($config: ()) {
    $config: extend((
        text-color: $white,
        background-color: $link-color
    ), $config);

    $text-color: map-get($config, text-color);
    $background-color: map-get($config, background-color);

    @include elr-nav-bar(
        $config: (
            text-color: $text-color,
            hover-color: $text-color,
            divider-color: transparent,
            background-color: $background-color,
            active-color: lighten($background-color, 10%)
        )
    );

    > li {
        position: relative;

        &:hover {
            > .elr-submenu {
                opacity: 1;
                visibility: visible;
            }
        }

        &.elr-has-submenu {
            > a:after {
                content: '\25BE';
                position: absolute;
                right: 10px;
                font-weight: 700;
                line-height: 1.7em;
                font-size: 12px;
                top: 50%;
                transform: translate(0, -50%);
                color: inherit;
            }
        }

        > a {
            padding-left: 30px;
            padding-right: 30px;
            display: block;
        }
    }

    .elr-submenu {
        @include elr-nav-bar(
            $config: (
                text-color: $white,
                hover-color: $white,
                divider-color: transparent,
                background-color: $background-color,
                inline: false,
                active-color: lighten($background-color, 10%)
            )
        );
        position: absolute;
        min-width: 130px;
        width: 120%;
        top: 100%;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;

        li {
            position: relative;

            > a {
                font-size: 80%;
                padding: 5px 10px;
            }

            > ul {
                display: none;
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 100;
                width: 120%;
                background-color: $background-color;
            }
        }
    }
}
